<div className='planoscor'>

  <h1 >Planos De Assinatura</h1>
    FUTURAMENTE TEREMOS PLANOS DE CONTEUDO EXCLUSIVOS,
    O QUE CADA PLANO VAI CONTER AINDA ESTÁ SENDO ELABORADO E
    O CONTEUDO DESCRITO ABAIXO ESTÁ SENDO PREPARADO E TEREMOS MUDANÇAS COM
    ANTES DO LANÇAMENTO.

  </div>


  <div className='planos'>

  <div className='plano1'>
  <h2> Plano Grátis</h2>
  <h4>
  <p> - Acesso a Noticias diarias.</p>
  <p> - Acesso ao Aplicativo Basico de Gerenciamento de Criptomoedas.</p>
  </h4>

  </div>

  <div className='plano2'>
  <h2>  Plano Standard </h2>
  <h4>
    <p> - Acesso ao Plano Gratis </p>
    <p> - Acesso ao Aplicativo Pro </p>
    <p> - CURSO DE CRIPTOMOEDAS</p>
    <p> - Lives Exclusivas</p>
    </h4>
  </div>

  <div className='plano3'>
  <h2>Plano Premium</h2>
  <h4>
  <p> - Acesso ao PLano Standard</p>
  <p> - AULAS EXTRAS NO CURSO DE CRIPTOMOEDAS</p>
  <p>- Bate papo de 1 hora em Paricular com Vatien todo Mes.</p>
  </h4>
  </div>

</div>


