<h1>Conheça Nossas Empresas Secundarias!!</h1>

<div className='produtora'>

    <h1>Vatien Visual Studio e Desenvolvimento </h1>
    <div className=' tt'> Dividida em 3 tipos de Serviços: </div>



    <div className='website'>

    <h3>Produtora de Website Personalizados.</h3>

        <p> - Website Personalizado </p>
        <p> - Banco de Dados </p>
        <p> - Controle de Estoque</p>
        <p> - Marketing Digital</p>
        <p> - blogs e outros</p>



    </div>

    <div className='protocolo'>
    <h3>Produtora de Protocolos e Algoritimos na Blockchain </h3>
        <p>Criaçao de Criptomoedas para sua Empresa</p>
        <p> - Desenvolvimento Criptomoedas em uma Blockchain de sua preferencia</p>
        <p> - Criação de Blockchain</p>
        <p> - Ponte com seu E-comeerce para Recompensar seus Clientes</p>
        <p> - Consultoria Economica para Valorizar sua Criptomoeda</p>

    </div>

    <div className='video'>
    <h3> Produtora de Videos para Canais no Youtube e Instagram </h3>
        <p> - Estudio proprio para Desenvolver seu Trabalho </p>
        <p> - Edição Profisional de acordo com as suas Necessidades </p>
        <p> - Criaçao de Tumbs</p>
        <p> - Criação de Post Para Instagram</p>
        <p> - Planejamento de Roteiros de Videos e Post</p>

    </div>




</div>

<h1>Nosso Produtos Fisicos</h1>

<div className='produtora'>

<div className='livro'>

<h3> Vatien Criptolizando </h3>
        <p> - Historia das Criptomoedas </p>
        <p> - Gerenciamento </p>
        <p> - bitcoin</p>
        <p> - Outros</p>
</div>

<div className='caderno'>
<h3> Caderno de Gerenciamento </h3>
        <p> - Caderno de Gerenciamento de Palavras Chave </p>
        <p> - Caderno de Gerenciamento de Risco e Controle de Operações </p>


</div>
</div>
