<div class="txt1">
  Faça Seu Cadastro
</div>
<br>

<div class="txt1">

Ao Realizar o Cadastro voce entra na lista de espera para testar nossos planos pagos com exclusividade.
   Vamos sortear 100 Planos standar por 20 dias para quem se cadastrar totalmente gratuito!!

</div>

<br>
<form>
  <label>Nome Completo:</label>
  <input type="text">
  <br>
  <label>Telefone:</label>
  <br>
  <input type="text">
  <br>
  <label>e-mail:</label>
  <input type="text">

  <button>Cadastre-se</button>
</form>

