
<div class="container">

  <div class="divbutton">
    <button [routerLink]="['/home']" routerLinkActive="active-link">Home</button>
  </div>

  <div class="divbutton">
    <button [routerLink]="['/cadastro']" routerLinkActive="active-link">Cadastre-se</button>
  </div>

  <div class="divbutton" >
    <button [routerLink]="['/planos']" routerLinkActive="active-link">Planos</button>
  </div>

  <div class="divbutton">
    <button [routerLink]="['/portifolio']" routerLinkActive="active-link">Portifolio</button>
  </div>

  <div class="divbutton">
    <button [routerLink]="['/servicos']" routerLinkActive="active-link">Serviços</button>
  </div>

  <div class="divbutton">
    <button [routerLink]="['/contato']" routerLinkActive="active-link">Contato</button>
  </div>

</div>
