<div className='t1'>

  <h1> SOBRE VATIEN </h1>
  </div>


  <div className='t2'>

  <h5>Somos uma empresa, focada em educação financeira,
   é mais especialmente em CRIPTOMOEDAS, o GRUPO VATIEN foi criado por Victor, também
   chamado de VATIEN, é Engenheiro Químico de formação e apaixonado por investimentos
   e criptomoedas, até o momento estamos trabalhando apenas com o CANAL NO YouTube, onde tudo começou.
  </h5>

  <h5>
  O Canal busca criação de conteúdo com foco educacional
  tranzendo estudos Relacionados a Investimentos e até aulas de Empreendedorismo em alguns momento,
  porém o o maior foco dos estudos é relacionados a Criptomoedas.
  </h5>

  <h5>
  Os estudos deste canal são de uso educacional e não representam recomendações, nosso objetivo aqui
  e informar para que você possa tirar suas próprias conclusões, portanto não nos responsabilizamos
  pelas operações de nossos espectadores.
  </h5>

  </div>
